<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebRTC Video Connect</title>
    <script defer src="/public/peerjs.min.js"></script>
    <script defer src="/socketio/socket.io.js"></script>
    <script defer src="/app.js"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body data-room="<%= roomID %>">
    <video id="myVideo"></video>
  </body>
</html>
